/*FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*MAIN*/
*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: url('../portifolio/img/WallPaper.gif') no-repeat center center;
    background-size: cover;
}
body aside{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
}
header{
    background-color: black;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Calibri', sans-serif;
}
footer{
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 25px;
    margin-top: 20%;
    top: 0;
    bottom: 0; 
    left: 0;
    right: 0;
    z-index: 1;
}

main{
    height: 92vh;
}

#menuBar{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} 

h1{

}
h2{

}
div{

}  
a{
    text-decoration: none;
}
button{
    background: none;
    border: none;
    position: static;
}


/*RESPONSIVIDADE DA PAGE*/
/*SmartPhones */
@media only screen and (max-width: 600px) {
    body{
        background: url('../portifolio/img/WallPaperVertical.gif') no-repeat center center;
        background-size: cover;
    }
    footer{
        margin-top: 24%;
    }
    header{
        display: flex;
        flex-direction: column;
        padding-top: 10%;
        padding-bottom: 5%;
    }
    aside{
        background-color:white ;
    }


}

/*Tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    body{
        background: url('../portifolio/img/WallPaperTablet.gif') no-repeat center center;
        background-size: cover;
    }
    aside{
        background-color: rgb(133, 133, 133) ;
    }

}

/*Notebooks*/
@media only screen and (min-width: 1025px) and (max-width: 1600px) {

}

/*Smart Tvs*/
@media only screen and (min-width: 1601px) {

}

/*MENU PRINCIPAL HEADER*/
#logo{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: gold;

}
#menuBar{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .6rem; 

}
#menuBar .linkMenu{
    display: block;
    padding: .5rem;
}
.linkMenu{
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', 'sans-serif';
}
.linkMenu:hover{
    font-weight: bold;
    background: #444444;
    color: gold;
    text-transform: uppercase;
    border-radius: 5px;
}
#botaoContact{
    padding: 1px;
    border-color: gold;
    border-style: solid;
}

/*CARD PROFILE*/
aside{
    background: gold;
    padding: 4px 4px;
    margin: 50px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: -1rem;
    width: 300px;
    height: 320px;
    left: 200px;
}
    

.profileCard{
    display: block;
    align-items: center;
    justify-content: center;
}   


#profileImage{
    width: 150px;
    border-radius: 50%;
    border-style: dotted solid;

}
.borda-piscante {
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    animation: piscar 0.4s infinite alternate;
    border: 6px solid red;
    border-radius: 10px;
    box-shadow: 1px 8px 20px rgba(255, 215, 0, 0.5);
}
.borda-piscante + #profileImage{
    border-color: red;
}

@keyframes piscar {
    0% {
        border-color: red;
    }
    100% {
        border-color: gold;
    }

}

#profileName{
    color: rgb(0, 0, 0);
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 25px;

}
#profileGradual{
    color: black;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
#profileGradual{
    align-items: center;
    margin: 25px;
    color: rgb(72, 72, 72);
}


/*Barra do Icones*/
#navBarSocial{
    top: -100px;
    width: 50px 50px;
    margin: 25px 70px;

}
.navBarMenu{
    display: flex;
    align-items: center;
}
.navBarItem{
    list-style: none;
    text-decoration: none;   
    cursor: pointer;
}
.navBarImage{
    width: 50px;
}

