/*FONTES*/
@import url('CAMINHO DA FONTE');
@font-face {
  font-family: 'NOME-DA-FONTE';
  src: url('../font/AQUIVO-DA-FONTE.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/*CONFIGURAÇÕES DA PAGINA*/
*{
  margin: 0;
  padding: 0;
}

main{
  height: 92vh;
}

body {
    margin: 0;
    padding: 0;
    background-color: #5b5b58;
    box-sizing: border-box;

}
a{
    list-style: none;
    text-decoration: none;
}

header{
  background-color: black;
  height: 8vh;
  padding: 1.2rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Calibri', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  
footer{
  background-color: black;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 40px 0;
  margin-top: 25%;
  top: 0;
  bottom: 0; 
  left: 0;
  right: 0;
  height: 8vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Calibri', sans-serif;
  display: flex;
  justify-content: " ";
  align-items: center;
}


/*ESTRUTURA DE RESPONSIVIDADE*/
/* Smartwatches em modo retrato */
@media only screen and (max-width: 320px) and (orientation: portrait) {
    body {
        font-size: 10px;
        background-color: #5b5b58;
    }

    footer{

    }
}

/* Smartphones em modo retrato */
@media only screen and (max-width: 600px) and (orientation: portrait) {
    body {
        background-color: #5b5b58;
    }

    footer{

    
    }
}

/* Smartphones em modo paisagem */
@media only screen and (max-width: 600px) and (orientation: landscape) {
    body {
        background-color: #5b5b58;
    }

    footer{

    
    }
    .card-containe{
        display: collum;
    }
}

/* Tablets em modo retrato */
@media only screen and (min-width: 601px) and (max-width: 900px) and (orientation: portrait) {
    body {
        background-color: #5b5b58;
    }

    footer{

    
    }
}

/* Tablets em modo paisagem */
@media only screen and (min-width: 601px) and (max-width: 900px) and (orientation: landscape) {
    body {
        background-color: #5b5b58;
    }

    footer{

    
    }
}

/* Notebooks */
@media only screen and (min-width: 901px) and (max-width: 1440px) and (orientation: landscape) {
    body {
        background-color: #5b5b58;
    }

    footer{

    
    }
}

/* Smart TVs */
@media only screen and (min-width: 1441px) {
    body {
        background-color: #5b5b58;
    }

    footer{
    
    
    }
}


/*HEADER CONFIG*/
/*Menu Principal Horizontal*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo {
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #12f319;
    text-transform: uppercase;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;
        background-color: #333;
    }

    .nav-links li {
        text-align: center;
        margin: 1rem 0;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    display: flex !important; /*muito importante verificar se está responsivo*/
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/*BODY CONFIG*/
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
h1:hover {
    color: #12f319;
}
h2{}
h3{}
aside{}
article{}
section{}


/*CARDS PROFISSÕES*/

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px;
}

.card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.5); /* Cor de fundo com transparência */
    padding: 20px;
    border-radius: 10px;
}

.card h3 {
    margin-top: 0;
}

.card hr {
    margin: 10px 0;
}

.card p {
    margin: 5px 0;
    display: none;
}

.card button {
    float: left;
}

.card.expanded {
    width: 100%;
}

.card.expanded h3 {
    font-size: 24px;
}

.card.expanded p {
    display: block;

}

.card.expanded button {
    float: none;
}

.footer {
    clear: both;
}


/*FOOTER CONFIG*/
.footer-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
}
.footer-logo {
	margin-bottom: 20px;
}
.footer-nav, .footer-social, .footer-contact {
	margin-bottom: 20px;
}
.footer-nav a, .footer-social a {
	color: #fff;
	text-decoration: none;
	margin: 0 10px;
}
.footer-nav a:hover, .footer-social a:hover {
	text-decoration: underline;
}
.footer-social a {
	font-size: 1.5em;
}
.footer-contact p {
	margin: 5px 0;
}
.footer-copy {
	margin-top: 20px;
	font-size: 0.9em;
}